<p id="notice"><%= notice %></p>

<h1>Chat Messages</h1>

<table class="table">
  <thead>
    <tr>
      <th>user email</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <% @chat_messages.each do |chat_message| %>
      <tr>
        <td><%= chat_message.senderable.try(:email) %></td>
        <td><%= chat_message.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%# if current_user.present? %>
<%= render 'form', chat_message: ChatMessage.new %>
<%#= link_to 'New Chat Message', new_chat_message_path(user_id: current_user,chat_room_id: @chat_room.id) %>
<%# elsif current_super_admin.present? %>
<%#= link_to 'New Chat Message', new_chat_message_path(admin_user_id: current_super_admin,chat_room_id: @chat_room.id) %>
<%# end %>
